<div class="container-fluid">
    <img src="../assets/images/home_backgroud_mocktest.jpg" />
    <p>
        <button type="submit" class="btn btn-default" {{action 'register'}}>Register</button>
    </p>
</div>